body {
  margin: 0;
  background-color: rgba(148, 175, 171, 0.1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  min-width: 800px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row:nth-child(odd) {
  background-color: #eeeeee;
}

.row:nth-child(even) {
  background-color: #dddddd;
}

.row:first-child {
  font-weight: bold;
  background-color: #ffffff;
}

.table-action {
  width: 100%;
  text-align: right;
  font-weight: bold;
}

.caption {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}

.sub-caption {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.mask {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: rebeccapurple;
}
.error {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: red;
}

.beerLabel {
  width: 70px;
  height: 70px;
}

.col {
  text-align: center;
}

.colWrap {
  word-wrap: break-word;
  width: 200px;
  text-align: left;
}

.colLabel {
  width: 100px;
}
